<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thesis.project.gu.user.persistence.UserCredentialMapper">

    <resultMap id="credMap" type="thesis.project.gu.user.domain.UserCredential">
        <id     column="user_id"       property="userId"/>
        <result column="password" property="password"/>
        <result column="password_algo" property="passwordAlgo"/>
        <result column="updated_at"    property="updatedAt"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO user_credential (user_id, password, password_algo)
        VALUES (#{userId}, #{password}, #{passwordAlgo})
    </insert>

    <select id="findByUserId" resultMap="credMap">
        SELECT * FROM user_credential WHERE user_id = #{userId}
    </select>

    <update id="updatePassword">
        UPDATE user_credential
        SET password = #{password},
            password_algo = #{passwordAlgo},
            updated_at = CURRENT_TIMESTAMP
        WHERE user_id = #{userId}
    </update>
</mapper>
